<% def fmt = new com.athaydes.spockframework.report.internal.StringFormatHelper()
def stats = spocktest.geb.utils.ReportUtils.aggregateStats( data )
%>
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body class="container">
<h2>Specification run results for SECO</h2>
<div class='date-test-ran'>Tests run on ${new Date()}</div>
<hr></hr>
<div class='summary-report'>
    <h3>Specifications summary:</h3>
    <table class="table">
        <thead>
        <th>Features</th>
        <th>Failures</th>
        <th>Errors</th>
        <th>Skipped</th>
        <th nowrap>Total Duration</th>
        <th nowrap>Success rate</th>
        </thead>
        <tbody>
        <tr>
            <td>${stats.totalRuns}</td>
            <td class='<% if (stats.failures > 0) out << "danger"%>'>${stats.failures}</td>
            <td class='<% if (stats.errors > 0) out << "danger"%>'>${stats.errors}</td>
            <td>${stats.skipped}</td>
            <td nowrap>${fmt.toTimeDuration(stats.time)}</td>
            <td nowrap class='<% if (stats.successRate < 1) out << "danger" else out << "success" %>'>${fmt.toPercentage(stats.successRate)}</td>
        </tr>
        </tbody>
    </table>
</div>
<% def packageMap = spocktest.geb.utils.ReportUtils.aggregatePackageStats( data )
%>
<h3>Packages:</h3>
<table class="table">
    <thead>
    <th>Package Name</th>
    <th>Specifications</th>
    <th>Features</th>
    <th>Failures</th>
    <th>Errors</th>
    <th>Skipped</th>
    <th nowrap>Duration</th>
    <th nowrap>Success rate</th>
    </thead>
    <tbody>
    <% packageMap.each { packageName, map ->
    %>
    <tr class='<% if (map.errors > 0 || map.failures > 0) out << "danger" else if (map.totalRuns > 0) out << "success"%>'>
        <td class="color">${packageName}</td>
        <td>${map.totalSpec}</td>
        <td>${map.totalRuns}</td>
        <td>${map.failures}</td>
        <td>${map.errors}</td>
        <td>${map.skipped}</td>
        <td nowrap>${fmt.toTimeDuration(map.time)}</td>
        <td class="color" nowrap><% if (map.totalRuns + map.failures + map.errors == 0)out << '0.0%' else out << fmt.toPercentage(map.successRate) %></td>
    </tr>
    <% }
    %>
    </tbody>
</table>

<h3>Specifications:</h3>
<table class="table">
    <thead>
    <th>Name</th>
    <th>Features</th>
    <th>Failures</th>
    <th>Errors</th>
    <th>Skipped</th>
    <th nowrap>Duration</th>
    <th nowrap>Success rate</th>
    </thead>
    <tbody>
    <% data.each { name, map ->
    %>
    <tr class='<% if (map.errors > 0 || map.failures > 0) out << "danger" else if (map.totalRuns > 0) out << "success"%>'>
        <td class="color"><a href='${name}.html'>${name}</a></td>
        <td>${map.totalRuns + map.failures + map.errors}</td>
        <td>${map.failures}</td>
        <td>${map.errors}</td>
        <td>${map.skipped}</td>
        <td nowrap>${fmt.toTimeDuration(map.time)}</td>
        <td  class="color" nowrap><% if (map.totalRuns + map.failures + map.errors == 0)out << '0.0%' else out << fmt.toPercentage(map.successRate) %></td>
    </tr>
    <% }
    %>
    </tbody>
</table>
<hr></hr>
<div class='footer'>Generated by <a href='<%out << com.athaydes.spockframework.report.SpockReportExtension.PROJECT_URL%>'>Spock Reports</a></div>
</body>
</html>